<div class="breadcrumb-section py-3  mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 mb-1">
        <li class="breadcrumb-item"><a href="#">Home</a></li><!-- if this is aproject or collection you made, probably insert your name here? -->
        <li class="breadcrumb-item"><a href="#">Collections</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @collection.to_s %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="project-header purple-grad-bg pt-4 pb-4 mb-5">
  <div class="container">
    <div class="row">

      <div class="col-md-2 col-lg-1 mb-3 pt-1 d-flex align-items-start">
        <% if @collection.avatar_url.present? %>
          <img src="<%= @collection.avatar_url %>" alt="<%= @collection.to_s %> logo" class="img-fluid project-logo" onerror="this.style.display='none'" />
        <% else %>
          <%= image_tag("collections-default.png", alt: " ", class: "img-fluid project-logo", size: "130x130") %>
        <% end %>
      </div>

      <div class="col-12 col-md-10 col-lg-11">
        <h1 class="display-1 extra-bold"><%= @collection.to_s %></h1>
        <div class="d-md-flex justify-content-between align-items-center mb-2">
          <div>
            <% if @collection.last_synced_at %>
              <p><%= @collection.description %></p>
            <% end %>
            <p class="mb-0 text-muted">
              <% if @collection.visibility == 'private' %>
                Private collection
              <% else %>
                Collection
              <% end %>
              from SBOM 
            </p>
          </div>
          <div class="d-flex gap-2 align-self-start mt-3 mt-xl-0">
            <a id="copyLink"
              href="javascript:void(0)"
              role="button"
              class="btn btn-primary btn-primary--dark btn-sm rounded-pill"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Copy URL">
              <%= bootstrap_icon 'copy',
                width:12, height:12, aria_hidden:'true',
                focusable:'false', role:'img', class:'me-1' %>
              Share
            </a>
          </div>
        </div>

        
        
      </div>

    </div>
  </div>
</div>
<div class="dboard-collection-bar mb-5">
  <div class="container pb-4 <% unless @collection.ready? %>border-0<% end %>">
  <% if @collection.ready? %>
    <h2 class="h4 mb-3">Showing</h2>
  <% else %>
    <h2 class="h4 mb-3">Syncing</h2>
  <% end %>
    <div class="row">
      <div class="col">
        <% @collection.projects.with_repository.first(5).each do |project| %>
          <a href="<%= collection_project_path(@collection, project) %>" class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
            <img src="<%= project.avatar_url %>" height="24" width="24" class="me-2"/> 
              <%= project.to_s.gsub('github.com/', '') %>
          </a>
        <% end %>
        <% projects_count = @collection.projects.with_repository.count %>
        <% if projects_count > 5 %>
          <a href="<%= collection_projects_path(@collection) %>" class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2" style="min-height: 40px">
            and <%= projects_count - 5 %> more&hellip;
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>