<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      
      <div class="col-md-1 mb-3 pt-1">
      <% if @collection.avatar_url.present? %>
        <img src="<%= @collection.avatar_url %>" alt="<%= @collection.to_s %> logo" class="img-fluid project-logo" onerror="this.style.display='none'" />
      <% else %>
        <%= image_tag("collections-default.png", alt: " ", class: "img-fluid project-logo", size: "130x130") %>
      <% end %>

      </div>
  
      <div class="col-md-11">
        <div class="d-md-flex justify-content-between align-items-center">
          <p class="h3 mb-0 text-muted">
            <% if @collection.visibility == 'private' %>
              <%= bootstrap_icon 'lock-fill',
              width: 20, height: 20, aria_hidden: 'true', focusable: 'false', role: 'img',  title: 'This collection is private', class: 'flex-shrink-0 me-1'
              %> Private collection 
            <% else %>
              Collection
            <% end %>
          </p>
          <a id="copyLink"
            href="javascript:void(0)"
            role="button"
            class="btn btn-primary btn-primary--dark btn-sm rounded-pill"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Copy URL">
            <%= bootstrap_icon 'copy',
                  width:12, height:12, aria_hidden:'true',
                  focusable:'false', role:'img', class:'me-1' %>
            Share
          </a>
        </div>
        
        <h1 class="display-1 extra-bold">
          <%= @collection.to_s %>
        </h1>
        <% if @collection.last_synced_at %>
          <p><%= @collection.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dboard-collection-bar mb-5">
  <div class="container pb-4 <% unless @collection.ready? %>border-0<% end %>">
  <% if @collection.ready? %>
    <h2 class="h4 mb-3">Showing</h2>
  <% else %>
    <h2 class="h4 mb-3">Syncing</h2>
  <% end %>
    <div class="row">
      <div class="col">
        <% @collection.projects.with_repository.first(5).each do |project| %>
          <a href="<%= collection_project_path(@collection, project) %>" class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2">
            <img src="<%= project.avatar_url %>" height="24" width="24" class="me-2"/> 
              <%= project.to_s.gsub('github.com/', '') %>
          </a>
        <% end %>
        <% projects_count = @collection.projects.with_repository.count %>
        <% if projects_count > 5 %>
          <a href="<%= collection_projects_path(@collection) %>" class="project-badge badge text-bg-light d-inline-flex align-items-center align-middle py-2 px-3 me-2 mb-2" style="min-height: 40px">
            and <%= projects_count - 5 %> more&hellip;
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>