<div class="form-group mb-3">
  <%= f.label :github_organization_url, "GitHub Organization URL" %>
  <%= f.text_field :github_organization_url, class: "form-control", placeholder: "https://github.com/your-org", required: true, type: :url %>
</div>

<div class="form-group mb-3">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
</div>

<div class="form-group mb-3">
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, class: "form-control", placeholder: "Enter description" %>
</div>

<div class="form-group mb-3">
  <%= f.label :visibility, "Visibility" %><br>
  <%= f.radio_button :visibility, "public" %> Public
  <%= f.radio_button :visibility, "private" %> Private
</div>
