<div class="dashboard-layout__navigation">
  <ul class="nav nav-pills flex-column dboard-nav me-4">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'show' %>" href="<%= collection_path(@collection, request.query_parameters) %>">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'productivity' %>" aria-current="page" href="<%= productivity_collection_path(@collection, request.query_parameters) %>">Productivity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'responsiveness' %>" href="<%= responsiveness_collection_path(@collection, request.query_parameters) %>">Responsiveness</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'finance' %>" href="<%= finance_collection_path(@collection, request.query_parameters) %>">Finance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'engagement' %>" href="<%= engagement_collection_path(@collection, request.query_parameters) %>">Engagement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'adoption' %>" href="<%= adoption_collection_path(@collection, request.query_parameters) %>">Adoption</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'dependencies' %>" href="<%= dependencies_collection_path(@collection, request.query_parameters) %>">Dependencies
        <% total_deps = @collection.direct_dependencies_count + @collection.development_dependencies_count + @collection.transitive_dependencies_count %>
        <span class="badge bg-secondary ms-1"><%= total_deps %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'security' %>" href="<%= security_collection_path(@collection, request.query_parameters) %>">Security</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'projects' %>" href="<%= collection_projects_path(@collection, request.query_parameters) %>">Projects
        <span class="badge bg-secondary ms-1"><%= @collection.projects.count %></span>
      </a>
    </li>
  </ul>

  <hr class="mt-5 me-3" />
  <div class="p-3 ">
      <% if Rails.env.development? %>
        <%= link_to 'Sync collection', sync_collection_path(@collection), method: :get, class: 'btn btn-primary rounded-pill' %>
      <% end %>
  </div>
  
</div>