<% @meta_title = "#{@collection}" %>
<% @meta_description = "Dependency Stats for #{@collection}" %>
<%= render 'collection_header' %>

<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Dependency</h1>
        <%= render 'bots' %>
      </div>
        <div class="dashboard-grid">
          <div class="three-equal-widgets">
            <%= stat_card_widget 'Direct dependencies', @collection.direct_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Development dependencies', @collection.development_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Transitive dependencies', @collection.transitive_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
          </div>
    </div>
  </div>
</div>