<% @meta_title = "New Collection" %>
<% @meta_description = "Create a new collection" %>

<div class="container mt-5">
  <h1 class="mb-4">Create a new collection</h1>
  <div class="row">
    <div class="col-12 col-lg-8">
    <% if params[:collection_type].blank? %>
      <%= form_with url: new_collection_path, method: :get, local: true do |f| %>
        <fieldset class="form-group my-5">
          <legend class="h3 mb-4">Choose Collection Type</legend>

          <div class="mb-4 d-flex align-items-center gap-3">
            <%= radio_button_tag :collection_type, "github", false, id: "collection_type_github" %>
            <label for="collection_type_github" class="d-flex align-items-center gap-2">
              <div>
                <%= bootstrap_icon 'github',
                  width: 26, height: 26, aria_hidden: 'true', focusable: 'false', role: 'img',  title: '', class: 'flex-shrink-0 me-2'
                %>
              </div>
              <div>
                <p class="mb-1">Create a collection from a Github organization</p>
                <p class="text-muted small mb-0">Grab a Github URL for an organization and make a collection based on their repositories</p>
              </div>
            </label>
          </div>

          <div class="mb-4 d-flex align-items-center gap-3">
            <%= radio_button_tag :collection_type, "opencollective", false, id: "collection_type_opencollective" %>
            <label for="collection_type_opencollective" class="d-flex align-items-center gap-2">
              <div>
                <%= bootstrap_icon 'piggy-bank-fill',
                  width: 30, height: 24, aria_hidden: 'true', focusable: 'false', role: 'img',  title: '', class: 'flex-shrink-0 me-2'
                %> 
              </div>
              <div>
                <p class="mb-1">Create a collection from Open Collective</p>
                <p class="text-muted small mb-0">Grab a URL from Open Collective and create a collection based on a funding portfolio</p>
              </div>
            </label>
          </div>

          <div class="mb-4 d-flex align-items-center gap-3">
            <%= radio_button_tag :collection_type, "dependency", false, id: "collection_type_dependency" %>
            <label for="collection_type_dependency" class="d-flex align-items-center gap-2">
              <div>
                <%= bootstrap_icon 'diagram-3-fill',
                  width: 27, height: 20, aria_hidden: 'true', focusable: 'false', role: 'img',  title: '', class: 'flex-shrink-0 me-2'
                %>
              </div>
              <div>
                <p class="mb-1">Create collection from your dependencies</p>
                <p class="text-muted small mb-0">Upload an SBOM or paste a Github repo URL to create a collection based on your dependencies</p>
              </div>
            </label>
          </div>

        </fieldset>
        <div class="form-group">
          <hr />
          <%= submit_tag "Next", class: "btn btn-primary rounded-pill" %>
        </div>
      <% end %>
    <% else %>
      <%= form_with model: @collection, local: true do |f| %>
        <%= hidden_field_tag :collection_type, params[:collection_type] %>
        <% if params[:collection_type] == "github" %>
          <%= render partial: "collections/github_fields", locals: { f: f } %>
        <% elsif params[:collection_type] == "opencollective" %>
          <%= render partial: "collections/opencollective_fields", locals: { f: f } %>
        <% elsif params[:collection_type] == "dependency" %>
          <%= render partial: "collections/dependency_fields", locals: { f: f } %>
        <% end %>
        <%= render partial: "collections/visibility_fields", locals: { f: f } %>
        <div class="form-group">
          <%= f.submit "Create Collection", class: "btn btn-primary rounded-pill" %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
