<% @meta_title = "#{@collection}" %>
<% @meta_description = "Productivity Stats for #{@collection}" %>

<%= render 'collection_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Productivity</h1>
        <a href="#" class="custom-form-check-input custom-switch-link active" role="switch"><span class="visually-hidden">Show bots</span><%= bootstrap_icon 'robot',
          width: 24, height: 24, aria_hidden: 'true', focusable: 'false', role: 'img', class: 'mb-1', title: ''
        %></a>
      </div>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
        <div class="three-equal-widgets">
          <%= small_widget 'Commits', @commits_this_period, @commits_last_period, symbol: '' %>
          <%= small_widget 'Releases', @tags_this_period, @tags_last_period, symbol: '' %>
          <%= small_widget 'Commits per author', @avg_commits_per_author_this_period, @avg_commits_per_author_last_period,  symbol: '' %>
        </div>
        <div class="three-equal-widgets">
          <%= small_widget 'New issues', @new_issues_this_period, @new_issues_last_period,  symbol: '', increase_good: false %>
          <%= small_widget 'Open issues', @open_isues_this_period, @open_isues_last_period,  symbol: '', increase_good: false %>
          <%= small_widget 'Vulnerabilities', @advisories_this_period, @advisories_last_period, symbol: '', increase_good: false  %>
        </div>
        <div class="three-equal-widgets">
          
          <%= small_widget 'New PRs', @new_prs_last_period, @new_prs_this_period, symbol: '' %>
          <%= small_widget 'Open PRs', @open_prs_this_period, @open_prs_last_period,  symbol: '', increase_good: false %>
          <%= small_widget 'Merged PRs', @merged_prs_this_period, @merged_prs_last_period, symbol: '' %>
        </div>
        <div class="three-equal-widgets">
          
          

        </div>
        
      </div>
    </div>
  </div>
</div>