<% @meta_title = "#{@collection} - Projects" %>
<% @meta_description = "Browse all projects in the #{@collection} collection with details on languages, stars, forks, and activity" %>

<%= render 'collection_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
    <div class="dboard__title-bar d-flex justify-content-between align-items-center mb-4">
        <h1>Projects in <%= @collection.to_s %></h1>
      </div>
      <div class="dashboard-grid">  
        
        <%= render @projects %>
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
      </div>
    </div>
  </div>
</div>
