<% @meta_title = "#{@collection}" %>
<% @meta_description = "Responsiveness Stats for #{@collection}" %>
<%= render 'collection_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
    <h1 class="mb-4">Responsiveness</h1>
        <%= render 'date_nav' %>

        <div class="dashboard-grid">
          <!-- Row 1: Three equal widgets -->
          <div class="three-equal-widgets">
            <%= small_widget 'Time to close PRs', @time_to_close_prs_this_period, @time_to_close_prs_last_period, symbol: ' days' %>
            <%= small_widget 'Time to acknowledge PRs', 2.1, 1.3, symbol: ' days' %>
          </div>
          <div class="three-equal-widgets">
             <%= small_widget 'Time to close issues', @time_to_close_issues_this_period, @time_to_close_issues_last_period, symbol: ' days' %>
            <%= small_widget 'Time to acknowledge issues', 2.1, 1.3, symbol: ' days' %>
          </div>
        </div>
    </div>
  </div>
</div>