<% @meta_title = "#{@collection} - Overview" %>
<% @meta_description = "Overview and key statistics for #{@collection} including projects, packages, stars, forks, and latest activity" %>

<%= render 'collection_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Overview</h1>
        <div class="d-flex align-items-center gap-2">
          <%= render 'bots' %>
        </div>
      </div>
      <div class="dashboard-grid">  
        
        <div class="two-thirds-widgets">
          <div class="card  well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Created by</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text"><%= @collection.user.name %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="two-thirds-widgets__large card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Created</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <%= time_ago_in_words(@collection.created_at) %> ago
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two-thirds-widgets">
          <%= stat_card_widget 'Active contributors', @active_contributors_this_period, @active_contributors_last_period, symbol: '', increase_good: true, stat_size: "large", title_class: "card-title small", card_class: " two-thirds-widgets__small" %>

          <div class="card two-thirds-widgets__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small mb-4">Contributor breakdown</h5>
              <% if @contributor_role_breakdown_this_period.present? %>
                <div class="stacked-bar">
                  <% total = @contributor_role_breakdown_this_period.values.sum.to_f %>
                  <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                    <% percent = ((count / total) * 100).round(1) %>
                    <div class="segment seg-<%= ('a'.ord + index).chr %>" style="--w: <%= percent %>%"></div>
                  <% end %>
                </div>
                <div class="graph-key py-3">
                  <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                    <% percent = ((count / total) * 100).round(1) %>
                    <div class="graph-key__item">
                      <span class="dot dot-<%= ('a'.ord + index).chr %>"></span>
                      <% display_role = (role.nil? || role == "NONE") ? "Community" : role.capitalize %>
                      <span class="label"><%= display_role %> <%= percent %>%</span>
                    </div>
                  <% end %>
                </div>
              <% else %>

              <% end %>          
            </div>
          </div>
        </div>
        <div class="three-equal-widgets">
          <%= small_widget 'Contributions', @contributions_this_period, @contributions_last_period, symbol: '$', currency: true %>
          <%= small_widget 'Payments', @payments_this_period, @payments_last_period, symbol: '$', currency: true %>
          <%= small_widget 'Reimbursements', @reimbursements_this_period, @reimbursements_last_period, symbol: '$', currency: true %>
        </div>

        <% if @collection.packages.count > 0 %>
          <div class="three-equal-widgets">
            <%= stat_card_widget 'Dependent packages', @collection.dependent_packages_count, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Dependent repos', @collection.dependent_repos_count, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Downloads', @collection.downloads, nil, title_class: "card-title small", stat_size: "large" %>
          </div>
        <% end %>

        <div class="full-width-widget">
          <%= small_widget 'Releases', @tags_this_period, @tags_last_period, symbol: '' %>
        </div>

        <div class="three-equal-widgets">
          <%= small_widget 'Open issues', @open_isues_this_period, @open_isues_last_period,  symbol: '', increase_good: false %>
          <%= small_widget 'Time to close issues', @time_to_close_issues_this_period, @time_to_close_issues_last_period, symbol: ' days', increase_good: false  %>
          <%= small_widget 'Unique authors', @unique_issue_authors_this_period, @unique_issue_authors_last_period, symbol: '', increase_good: true %>
        </div>

        <div class="three-equal-widgets">
          <%= small_widget 'Open PRs', @open_prs_this_period, @open_prs_last_period,  symbol: '', increase_good: false %>
          <%= small_widget 'Time to close PRs', @time_to_close_prs_this_period, @time_to_close_prs_last_period, symbol: ' days', increase_good: false %>
          <%= small_widget 'Unique authors', @unique_pr_authors_this_period, @unique_pr_authors_last_period, symbol: '', increase_good: true %>
        </div>

        
      
    </div>
  </div>
</div>
