<nav class="header__local__navigation">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/docs">API</a>
    </li>
    <li class="nav-item">
      <a href="<%= new_project_path %>" class="spesh-link">
          <% if logged_in? %>
          Add a new project
          <% else %>
          View a project
          <% end %>
        </a>
    </li>
    
    <% if logged_in? %>
      <div class="dropdown nav-item user-menu" id="user-menu">
        <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="<%= current_user.avatar_url%>" alt="User menu" height="36" width="36" class="rounded-circle user-menu__image" />
        </a>

        <ul class="dropdown-menu" aria-labelledby="user-menu" role="menu">
          <li><p class="dropdown-header"><%= current_user.name %></p></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><p class="dropdown-header">Projects</p></li>
          <li><a class="dropdown-item" href="<%= new_project_path %>">
            <%= bootstrap_icon 'plus-circle', width: 16, height: 16, class: 'me-2' %>
            Add new project
          </a></li>
          <li><hr class="dropdown-divider"></li>
          <li><p class="dropdown-header">Collections</p></li>
          <li><a class="dropdown-item" href="/collections">
            <%= bootstrap_icon 'collection', width: 16, height: 16, class: 'me-2' %>
            Your collections
          </a></li> 
          <li><a class="dropdown-item" href="<%= new_collection_path %>">
            <%= bootstrap_icon 'plus-circle', width: 16, height: 16, class: 'me-2' %>
            Create a new collection
          </a></li> 
        </ul>
      </div>
    <% else %>
      <li class="nav-item">  
        <a class="nav-link" href="/login">Login</a>
      </li>
    <% end %>
  </ul>
</nav>