<div class="dashboard-layout__navigation">
  <ul class="nav nav-pills flex-column dboard-nav me-4">
    <li class="nav-item">
      <%= link_to "Overview",
          project_path_with_collection(@project),
          class: "nav-link #{'active' if params[:tab].blank?}",
          aria: (params[:tab].blank? ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to "Productivity",
          project_path_with_collection(@project, "productivity"),
          class: "nav-link #{'active' if params[:tab] == 'productivity'}",
          aria: (params[:tab] == "productivity" ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to "Responsiveness",
          project_path_with_collection(@project, "responsiveness"),
          class: "nav-link #{'active' if params[:tab] == 'responsiveness'}",
          aria: (params[:tab] == "responsiveness" ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to "Finance",
          project_path_with_collection(@project, "finance"),
          class: "nav-link #{'active' if params[:tab] == 'finance'}",
          aria: (params[:tab] == "finance" ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to "Engagement",
          project_path_with_collection(@project, "engagement"),
          class: "nav-link #{'active' if params[:tab] == 'engagement'}",
          aria: (params[:tab] == "engagement" ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to "Adoption",
          project_path_with_collection(@project, "adoption"),
          class: "nav-link #{'active' if params[:tab] == 'adoption'}",
          aria: (params[:tab] == "adoption" ? { current: "page" } : {}) %>
    </li>

    <li class="nav-item">
      <%= link_to project_path_with_collection(@project, "dependencies"),
          class: "nav-link #{'active' if params[:tab] == 'dependencies'}",
          aria: (params[:tab] == "dependencies" ? { current: "page" } : {}) do %>
        Dependencies
        <span class="badge bg-secondary ms-1"><%= number_to_human(@project.total_dependencies_count) %></span>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to project_path_with_collection(@project, "packages"),
          class: "nav-link #{'active' if params[:tab] == 'packages'}",
          aria: (params[:tab] == "packages" ? { current: "page" } : {}) do %>
        Packages
        <span class="badge bg-secondary ms-1"><%= number_to_human(@project.packages_count || 0) %></span>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to project_path_with_collection(@project, "security"),
          class: "nav-link #{'active' if params[:tab] == 'security'}",
          aria: (params[:tab] == "security" ? { current: "page" } : {}) do %>
        Security
        <span class="badge bg-secondary ms-1"><%= number_to_human(@project.advisories_count) %></span>
      <% end %>
    </li>
  </ul>
  <hr class="mt-5 me-3" />
  <div class="p-3 ">
    
    <h5 class="text-muted fs-6 font-weight-normal"><%= bootstrap_icon 'arrow-down-up',
    width: 18, height: 18, aria_hidden: 'true', focusable: 'false', role: 'img',  title: 'Last synced', class: 'flex-shrink-0 me-1'
    %>  Last sync</h5>
    <p class="small ms-4"><a href="<%= project_path_with_collection(@project, 'meta') %>"><%= @project.last_synced_at ? "#{time_ago_in_words(@project.last_synced_at)} ago" : 'Never' %></a></p>
 

    <% if Rails.env.development? %>
      <div class="dboard-nav__actions mt-4">
        <a href="<%= @collection ? sync_collection_project_path(@collection, @project) : sync_project_path(@project) %>" class="btn btn-primary rounded-pill">Sync Project</a>
      </div>
  <% end %>
  </div>
  
  
</div>