<div class="dashboard-layout__navigation">
  <ul class="nav nav-pills flex-column dboard-nav me-4">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'show' %>" href="<%= project_path(@project) %>">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'productivity' %>" aria-current="page" href="<%= productivity_project_path(@project) %>">Productivity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'responsiveness' %>" href="<%= responsiveness_project_path(@project) %>">Responsiveness</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'finance' %>" href="<%= finance_project_path(@project) %>">Finance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'engagement' %>" href="<%= engagement_project_path(@project) %>">Engagement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'adoption' %>" href="<%= adoption_project_path(@project) %>">Adoption</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == 'dependency' %>" href="<%= dependency_project_path(@project) %>">Dependency</a>
    </li>
  </ul>
  <hr class="mt-5 me-3" />
  <div class="p-3 ">
    
    <h5 class="text-muted fs-6 font-weight-normal"><%= bootstrap_icon 'arrow-down-up',
    width: 18, height: 18, aria_hidden: 'true', focusable: 'false', role: 'img',  title: 'Last synced', class: 'flex-shrink-0 me-2'
    %>  Last sync</h5>
    <p class="small"><a href="<%= meta_project_path(@project) %>"><%= @project.last_synced_at ? @project.last_synced_at.strftime('%Y-%m-%d %H:%M') : 'Never' %>   </a></p>
 

    <% if Rails.env.development? %>
      <div class="dboard-nav__actions mt-4">
        <a href="<%= sync_project_path(@project) %>" class="btn btn-primary rounded-pill">Sync Project</a>
      </div>
  <% end %>
  </div>
  
  
</div>