<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @project.avatar_url.present? %>
      <div class="col-md-2 col-lg-1 mb-3 pt-1 d-flex align-items-start">
        <img src="<%= @project.avatar_url %>" alt="<%= @project.to_s %> logo" class="img-fluid project-logo" onerror="this.style.display='none'" />
      </div>
      <% end %>
      <div class="col-md-10 col-lg-11">
        <p class="h3 mb-0 text-muted"><%= @project.to_s %></p>
        <h1 class="display-1 extra-bold"><%= @project.name || @project.to_s.split('/').last %></h1>
        <% if @project.last_synced_at %>
          <p><%= @project.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>