<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Adoption</h1>

      <%= render 'date_nav' %>

      <div class="dashboard-grid">
      <div class="two-thirds-widgets">
          <%= stat_card_widget 'Downloads', 100289, 98002, increase_good: true, symbol: '', title_class: "card-title small", stat_size: "small", card_class: " two-thirds-widgets__large" %>
          <%= stat_card_widget 'Package downloads', 75, 65, increase_good: true, symbol: '%', title_class: "card-title small", stat_size: "large" %>
        </div>
        <div class="three-equal-widgets">
          <%= stat_card_widget 'Watchers', 1672, 1232, increase_good: true, symbol: '', title_class: "card-title small", stat_size: "small" %>
          <%= stat_card_widget 'Forks', 75, 65, increase_good: true, symbol: '', title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Stars', 75, 65, increase_good: true, symbol: '', title_class: "card-title small", stat_size: "large" %>
        </div>
      </div>
    </div>
  </div>
</div>