<% @meta_title = "#{@project}" %>
<% @meta_description = "Dependency Stats for #{@project}" %>
<%= render 'project_header' %>

<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Dependency</h1>
        <div class="form-check form-switch form-check-reverse bot-check fs-3">
          <label class="form-check-label" for="botToggle"><span class="visually-hidden">Bot data</span> <%= bootstrap_icon 'robot',
            width: 24, height: 24, aria_hidden: 'true', focusable: 'false', role: 'img', class: 'mb-1', title: 'what is ranking?'
          %></label>
          <input class="form-check-input " type="checkbox" role="switch" id="botToggle" checked>
        </div>
      </div>
        <div class="dashboard-grid">
          <div class="three-equal-widgets">
            <%= stat_card_widget 'Direct dependencies', @project.direct_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Development dependencies', @project.development_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Transitive dependencies', @project.transitive_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
          </div>
    </div>
  </div>
</div>