<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>
<%= render 'project_header' %>

<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Dependency</h1>
        <div class="dashboard-grid">
          <div class="three-equal-widgets">
            <%= stat_card_widget 'Direct dependencies', @project.direct_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Development dependencies', @project.development_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Transitive dependencies', @project.transitive_dependencies.length, nil, title_class: "card-title small", stat_size: "large" %>
          </div>
    </div>
  </div>
</div>