<% @meta_title = "#{@project}" %>
<% @meta_description = "Engagement Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Engagement</h1>
        <%= render 'bots' %>
      </div>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
        <div class="two-thirds-widgets">
          <%= stat_card_widget 'Active contributors', @active_contributors_this_period, @active_contributors_last_period, symbol: '', increase_good: true, stat_size: "large", title_class: "card-title small", card_class: " two-thirds-widgets__small" %>

           <div class="card two-thirds-widgets__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small mb-4">Contributor breakdown <a href="/glossary#contributor-breakdown-help" aria-labelledby="contributor-breakdown-help">
              <%= bootstrap_icon 'question-circle', width: 18, height: 18, aria_hidden: 'true', focusable: 'false', role: 'img', class: 'mb-1 ms-2' %>
              <span id="contributor-breakdown-help" class="visually-hidden">What is contributor breakdown?</span></a></h5>
              <div class="stacked-bar">
                <% total = @contributor_role_breakdown_this_period.values.sum.to_f %>
                <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                  <% percent = ((count / total) * 100).round(1) %>
                  <div class="segment seg-<%= ('a'.ord + index).chr %>" style="--w: <%= percent %>%"></div>
                <% end %>
              </div>
              <div class="graph-key py-3">
                <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                  <% percent = ((count / total) * 100).round(1) %>
                  <div class="graph-key__item">
                    <span class="dot dot-<%= ('a'.ord + index).chr %>"></span>
                    <% display_role = role == "NONE" ? "Community" : role.capitalize %>
                    <span class="label"><%= display_role %> <%= percent %>%</span>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="two-thirds-widget-group two-thirds-widget-group--reverse">
          <%= stat_card_widget 'Issue authors', @issue_authors_this_period, @issue_authors_last_period,  increase_good: true, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'PR authors', @pr_authors_this_period, @pr_authors_last_period,  increase_good: true, title_class: "card-title small", stat_size: "large" %>
          <!-- <%= stat_card_widget 'Contributions', @contributions_this_period, @contributions_last_period, card_class: "two-thirds-widget-group__large", title_class: "card-title small", stat_size: "large" %>-->
          <div class="card two-thirds-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small mb-4">Contributions</h5>
              <div class="stat-card-body">
                <span class="stat-card-title stat-card-title--large stat-card-number stat-card-number-neutral"> <%= @contributions_this_period %>  <span class="extra-bold">-</span></span>
                <span class="stat-card-text"><%= @contributions_last_period %>  last period</span>
              </div>
             
              
              <div id="chartContainer" class="chart-wrapper" role="img" aria-describedby="chartDesc">
                <canvas
                  id="barChart"
                  tabindex="0"
                  width="400"
                  height="300"
                  class="float-lg-end"
                  data-chart="bar"
                  data-chart-data='{
                    "labels": <%= @contributions_per_period.map(&:first).to_json.html_safe %>,
                    "label": "Contributions",
                    "values": <%= @contributions_per_period.map(&:last).to_json %>,
                    "dataset": {
                      "borderWidth": 0,
                      "borderRadius": 5,
                      "minBarLength": 2
                    }
                  }'
                  data-chart-options='{
                    "layout": {
                      "padding": { "top":10,"right":10,"bottom":10,"left":10 }
                    }
                  }'>
                </canvas>
              </div>


              <p id="chartDesc" class="visually-hidden">
                We need to describe the chart here, for example 'this bar chart shows commits over the last 3 months. January had 110,988 commits, February 232,000, and March 123,989'
              </p>
       
          </div>             
        </div> 

        <div class="three-equal-widgets">
          <%= stat_card_widget 'All time contributors', @all_time_contributors, nil,  increase_good: nil, title_class: "card-title small", stat_size: "large" %>
        </div>  
      </div>
    </div>
  </div>
</div>