<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Engagement </h1>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
        <div class="two-thirds-widgets">
          <%= stat_card_widget 'Active contributors', @active_contributors_this_period, @active_contributors_last_period, symbol: '', increase_good: true, stat_size: "large", title_class: "card-title small", card_class: " two-thirds-widgets__small" %>

           <div class="card two-thirds-widgets__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small mb-4">Contributor breakdown</h5>
              <div class="stacked-bar">
                <% total = @contributor_role_breakdown_this_period.values.sum.to_f %>
                <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                  <% percent = ((count / total) * 100).round(1) %>
                  <div class="segment seg-<%= ('a'.ord + index).chr %>" style="--w: <%= percent %>%"></div>
                <% end %>
              </div>
              <div class="graph-key py-3">
                <% @contributor_role_breakdown_this_period.each_with_index do |(role, count), index| %>
                  <% percent = ((count / total) * 100).round(1) %>
                  <div class="graph-key__item">
                    <span class="dot dot-<%= ('a'.ord + index).chr %>"></span>
                    <% display_role = role == "NONE" ? "Community" : role.capitalize %>
                    <span class="label"><%= display_role %> <%= percent %>%</span>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="three-equal-widgets">
          <%= stat_card_widget 'Contributions', @contributions_this_period, @contributions_last_period, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Issue authors', @issue_authors_this_period, @issue_authors_last_period,  increase_good: true, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'PR authors', @pr_authors_this_period, @pr_authors_last_period,  increase_good: true, title_class: "card-title small", stat_size: "large" %>
        </div>  
        <div class="three-equal-widgets">
          <%= stat_card_widget 'All time contributors', @all_time_contributors, nil,  increase_good: nil, title_class: "card-title small", stat_size: "large" %>
        </div>  
      </div>
    </div>
  </div>
</div>