<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">


  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Finance</h1>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
        <div class="three-equal-widgets">
          <%= small_widget 'Contributions', 10000, 9000, symbol: '$', currency: true %>
          <%= small_widget 'Payments', 5000, 4000, symbol: '$', currency: true %>
          <%= small_widget 'Balance', 5000, 5000, symbol: '$', currency: true %>
        </div>
        <div class="two-thirds-widgets">
          <%= small_widget 'Donors', 15, 11, symbol: '' %>
          <%= small_widget 'Recurring donors', 75, 65, symbol: '%' %>
        </div>
        <div class="two-thirds-widgets">
          <%= small_widget 'Unique payees', 11, 9, symbol: '' %>
          <%= small_widget 'Reimbursements', 10000, 9000, symbol: '$', currency: true %>
        </div>
      </div>
    </div>
  </div>
</div>