<% @meta_title = "#{@project}" %>
<% @meta_description = "Finance Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">


  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Finance</h1>
      

      <% if @project.collective.present? %>
        <%= render 'date_nav' %>
        <div class="d-md-flex justify-content-between align-items-center mb-2 mt-5">
          <h2>Open Collective</h2>
          <a href="<%= @project.collective_url %>" class="spesh-link">View on Open Collective</a>
        </div>

        <div class="dashboard-grid mb-5">
          <div class="three-equal-widgets">
            <%= small_widget 'Contributions', @contributions_this_period, @contributions_last_period, symbol: '$', currency: true %>
            <%= small_widget 'Payments', @payments_this_period, @payments_last_period, symbol: '$', currency: true %>
            <%= small_widget 'Balance', @balance_this_period, @balance_last_period, symbol: '$', currency: true %>
          </div>
          <div class="two-thirds-widgets">
            <%= stat_card_widget 'Donors', @donors_this_period, @donors_last_period, symbol: '', title_class: "card-title small", card_class: " two-thirds-widgets__small" %>
            <%= stat_card_widget 'Recurring donors', 75, 65, symbol: '%', title_class: "card-title small", card_class: " two-thirds-widgets__large" %>
          </div>
          <div class="two-thirds-widgets">
            <%= stat_card_widget 'Unique payees', @payees_this_period, @payees_last_period, symbol: '', title_class: "card-title small", card_class: " two-thirds-widgets__large" %>
            <%= stat_card_widget 'Reimbursements', 10000, 9000, symbol: '$', currency: true, stat_size: "small",  title_class: "card-title small", card_class: " two-thirds-widgets__small" %>
          </div>
        </div>
      <% end %>

      <% if @project.github_sponsors.present? %>
        <div class="d-md-flex justify-content-between align-items-center mb-2">
          <h2>Github Sponsors</h2>
          <a href="<%= @project.github_sponsors_url %>" class="spesh-link">View on Github Sponsors</a>
        </div>

        <div class="dashboard-grid">
          <div class="three-equal-widgets">
            <%= small_widget 'Current sponsors', @current_sponsors, nil %>
            <%= small_widget 'Past sponsors', @past_sponsors, nil %>
            <%= small_widget 'Total sponsors', @total_sponsors, nil %>
          </div>

          <div class="two-thirds-widgets">
            <%= small_widget 'Minimum sponsorship', @project.github_minimum_sponsorship_amount, nil, symbol: '$', currency: true %>
            <%= no_data_widget 'Missing Data', card_class: "well--grey two-thirds-widgets__large" do %>
              We can't show financial data for <strong>Github Sponsors</strong> due to limits in their API.
            <% end %>
          </div>

          <div class="three-equal-widgets">
            <%= no_data_widget "Contributions" %>
            <%= no_data_widget "Payments" %>
            <%= no_data_widget "Balance" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>