<% @meta_title = "Projects" %>
<% @meta_description = "Project dashboards" %>

<div class="container">
  <div class="well p-4 my-5">
    <div class="col-lg-10 container text-center">
      <%= form_with url: lookup_projects_path, method: :post, html: { class: "row g-2 justify-content-center" } do %>
        <label for="url">Enter a github repository URL</label>
        <div class="input-group rounded-input-group mt-3 mb-4">
          <%= text_field_tag :url, nil, class: "form-control", id: "url", placeholder: "URL: eg https://github.com/ecosyste-ms/packages", size: 50 %>
          <%= submit_tag "View project dashboard", class: "btn btn-danger pe-4" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render @projects %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  

</div>