<% @meta_title = "#{@project} - Metadata" %>
<% @meta_description = "Repository metadata and configuration details for #{@project} including languages, topics, and project settings" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Dashboard metadata</h1>
        <%= render 'bots' %>
      </div>
      <div class="dashboard-grid">  
        <div class="three-equal-widgets">
          <%= stat_card_widget 'Packages', @project.packages.count, nil, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Issues', @project.issues.issue.count, nil, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Pull requests', @project.issues.pull_request.count, nil, title_class: "card-title small", stat_size: "large" %>
        </div>
        <div class="three-equal-widgets">
          <%= stat_card_widget 'Commits', @project.commits.count, nil, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Tags', @project.tags.count, nil, title_class: "card-title small", stat_size: "large" %>
          <%= stat_card_widget 'Transactions', @project.collective.try(:transactions).try(:count) || 0, nil, title_class: "card-title large", stat_size: "large" %>
        </div>
        <div class="two-thirds-widget-group two-thirds-widget-group--reverse">
          <div class="card two-thirds-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title mb-3">Sync Status</h5>
              
              <ul class="list-unstyled">

                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'kanban', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Project: <%= @project.last_synced_at ? time_ago_in_words(@project.last_synced_at) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'git', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Repository: <%= @project.repository&.dig('last_synced_at') ? time_ago_in_words(Time.parse(@project.repository['last_synced_at'])) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'bug', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Issues: <%= @project.issues_last_synced_at ? time_ago_in_words(@project.issues_last_synced_at) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'journal-code', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Commits: <%= @project.commits_last_synced_at ? time_ago_in_words(@project.commits_last_synced_at) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'tag', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Tags: <%= @project.tags_last_synced_at ? time_ago_in_words(@project.tags_last_synced_at) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'diagram-3', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Dependencies: <%= @project.dependencies_last_synced_at ? time_ago_in_words(@project.dependencies_last_synced_at) + ' ago' : 'Never' %></span>
                </li>
                <li class="mb-3 d-flex align-items-center">
                  <%= bootstrap_icon 'opencollective', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                  <span>Collective: <%= @project.collective&.last_synced_at ? time_ago_in_words(@project.collective.last_synced_at) + ' ago' : 'N/A' %></span>
                </li>
                <li class="mb-3">
                  <div class="d-flex align-items-center">
                    <%= bootstrap_icon 'boxes', width: 18, height: 18, class: "me-2", aria_hidden: "true" %>
                    <span>Packages: <%= @project.packages_last_synced_at ? time_ago_in_words(@project.packages_last_synced_at) + ' ago' : 'Never' %></span>
                  </div>
                  <% if @project.packages.any? %>
                    <ul class="my-2 ms-4 list-unstyled">
                      <% @project.packages.each do |package| %>
                        <li class="mb-2 d-flex align-items-center small">
                          <%= bootstrap_icon 'box', width: 16, height: 16, class: "me-2", aria_hidden: "true" %>
                          <span><%= package.ecosystem %>/<%= package.name %></span>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>

                
              </ul>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<%= render 'project_footer' %>