<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <h1 class="mb-4">Productivity</h1>
      <%= render 'date_nav' %>

      <div class="dashboard-grid">
        <div class="three-equal-widgets">
          <%= small_widget 'Commits', 882, 781, symbol: '' %>
          <%= small_widget 'Releases', 32, 32, symbol: '' %>
          <%= small_widget 'Commits per author', 96, 88,  symbol: '' %>
        </div>
        <div class="three-equal-widgets">
          <%= small_widget 'New issues', 96, 88,  symbol: '', increase_good: false %>
          <%= small_widget 'Open issues', 192, 112,  symbol: '', increase_good: false %>
          <%= small_widget 'Vulnerabilities', 11, 9, symbol: '', increase_good: false  %>
        </div>
        <div class="three-equal-widgets">
          
          <%= small_widget 'New PRs', 32, 32, symbol: '' %>
          <%= small_widget 'Open PRs', 96, 88,  symbol: '', increase_good: false %>
          <%= small_widget 'Merged PRs', 1, 112, symbol: '' %>
        </div>
        <div class="three-equal-widgets">
          
          

        </div>
        
      </div>
    </div>
  </div>
</div>