<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @project.avatar_url.present? %>
      <div class="col-md-1 mb-3 pt-3">
        <img src="<%= @project.avatar_url %>" alt="<%= @project.to_s %> logo" class="img-fluid fund-logo" onerror="this.style.display='none'" />
      </div>
      <% end %>
      <div class="col-md-11">
        <h1 class="display-1 extra-bold"><%= @project.to_s %></h1>
        <% if @project.last_synced_at %>
          <p><%= @project.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
        <%= render 'date_nav' %>

        <div class="dashboard-grid">  
        <% if @project.repository %>
        <div class="three-equal-widgets">
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Owner</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text"><%= @project.repository['owner'] %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last commit</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">?</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last release</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">?</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="one-third-widget-group">
          <div class="card one-third-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Links</h5>
              <!-- Links content here -->
            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Language</h5>
              <!-- Language content here -->
            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Licence</h5>
              <!-- License content here -->
            </div>
          </div>
        </div>

        <% end %>
          <!-- Row 1: Three equal widgets -->
          <div class="three-equal-widgets">
            <div class="card well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2: Full-width chart -->
          <div class="full-width-widget">
            <div class="card well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Commits</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-negative">
                      110,978 <%= bootstrap_icon 'caret-down-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text stat-card-text">111,262 last period</span>
                  </div>
                </div>
                <div class="chart-wrapper">
                  <canvas id="commitChart2" width="600  "></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 3: Two thirds widgets -->
          <div class="two-thirds-widgets">
            <div class="card two-thirds-widgets__large well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card two-thirds-widgets__small well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--small stat-card-number-positive">
                      128,123,123 <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text stat-card-text--small">128,123,127 last period</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Row 4: Two thirds widgets with double row-->
          <div class="two-thirds-widget-group">
            <div class="card two-thirds-widget-group__small well  p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card two-thirds-widget-group__small well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text stat-card-text">65% last period</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card two-thirds-widget-group__large well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Recurring donors</h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <span class="stat-card-title stat-card-title--large stat-card-number-positive">
                      75% <%= bootstrap_icon 'caret-up-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                    </span>
                    <span class="stat-card-text">65% last period</span>
                  </div>
                </div>
                <div id="chartContainer" class="chart-wrapper" role="img" aria-describedby="chartDesc">
                  <canvas id="barChart2" tabindex="0"  width="400" height="300" style="margin-left: 150px;"></canvas>
                </div>

                <p id="chartDesc" class="visually-hidden">
                  We need to describe the chart here, for example 'this bar chart shows commits over the last 3 months. January had 110,988 commits, February 232,000, and March 123,989'
                </p>

              </div>
            </div>
          </div>
        </div>
    </div>

  <% if @project.last_synced_at %>

    <%= render 'project_nav' %>

    <%= render 'stats/project_stats' %>

    <% if @project.keywords.any? %>
      <p>
        <% @project.keywords.each do |keyword| %>
          <span class="badge bg-light text-dark">
            <%= keyword %>
          </span>
        <% end %>
      </p>
    <% end %>

    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @project.last_synced_at %> ago <br>
        <%= link_to 'JSON representation', api_v1_project_path(@project) %>
    </small></i></p>

    <%= render 'repository' %>

    <%= form_with url: request.path, method: :get do |form| %>
      <%= form.label :range, 'Select range:' %>
      <%= form.select :range, options_for_select([30, 90, 180, 360], @range.to_i), {}, { onchange: 'this.form.submit()' } %>
    <% end %><br/>

    <%= render 'stats' %>

    <% if @project.tags.displayable.count > 0 %>
      <%= line_chart tags_chart_path(project_ids: @project.id, chart: 'tags', period: @period, exclude_bots: @exclude_bots, range: @range, start_date: @start_date, end_date: @end_date), thousands: ",", title: 'Releases' %>
    <% end %>

    <% if @project.issues.count > 0 %>
      <h2>Issues</h2>

      <%= render 'issue_charts' %>
    <% else %>
      <p>
        No issues or pull requests found within this period.
      </p>
    <% end %>

    <% if @project.commits.count > 0 %>
      <h2>Commits</h2>

      <%= render 'commit_charts' %>
    <% else %>
      <p>
        No commits found within this period.
      </p>
    <% end %>

  <% else %>
    <p>
      This project has not been synced yet. Check back in a few minutes.
      <meta http-equiv="refresh" content="10">
    </p>
  <% end %>
