<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="dashboard-grid">  
        <% if @project.repository %>
        <div class="three-equal-widgets">
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Owner</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text"><%= @project.repository['owner'] %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last commit</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <% if @project.last_commit_at %>
                    <%= time_ago_in_words @project.last_commit_at %> ago
                    <% else %>
                      No commits found
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last release</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <% if @project.latest_tag_name %>
                      <%= @project.latest_tag_name %> (<%= time_ago_in_words @project.latest_tag_published_at %> ago)
                    <% else %>
                      No releases found
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="one-third-widget-group">
          <div class="card one-third-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Links</h5>
              
              <ul>
                <% @project.links.each do |link| %>
                  <li>
                    <a href="<%= link %>" target="_blank" rel="noopener noreferrer">
                      <%= display_link link %>
                    </a>
                  </li>
                <% end %>
              </ul>
              

            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Language</h5>
              <div class="stacked-bar">
                <div class="segment seg-a" style="--w: 40%"></div>
                <div class="segment seg-b" style="--w: 30%"></div>
                <div class="segment seg-c" style="--w: 30%"></div>
              </div>
              <div class="graph-key py-3">
                <div class="graph-key__item">
                  <span class="dot dot-a"></span>
                  <span class="label">Rust 40%</span>
                </div>
                <div class="graph-key__item">
                  <span class="dot dot-b"></span>
                  <span class="label">Shell 30%</span>
                </div>
                <div class="graph-key__item">
                <span class="dot dot-c"></span>
                <span class="label">White space 30%</span>
              </div>
              </div>

            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Licence</h5>
              <%= @project.licenses.map(&:upcase).uniq.join(', ') %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="three-equal-widgets">
        <%= stat_card_widget 'Dependent packages', @project.dependent_packages_count, nil, title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Dependent repos', @project.dependent_repos_count, nil, title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Downloads', @project.downloads, nil, title_class: "card-title", stat_size: "large" %>
      </div>
      <div class="full-width-widget">
      <%= stat_card_widget 'Commits', 882, 781, increase_good: true, symbol: '', title_class: "card-title" %>
      </div>      
      <div class="three-equal-widgets">
        <%= stat_card_widget 'Committers', 75, 65, title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Open PRs', 11, 9,  increase_good: false, title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Open issues', 704, 654,  increase_good: false, title_class: "card-title", stat_size: "large" %>
      </div>     
      <div class="two-thirds-widgets">
        <%= stat_card_widget 'Balance', 9822, 11877, symbol: '$', increase_good: nil,  currency: true, title_class: "card-title", card_class: " two-thirds-widgets__large" %>
        <%= stat_card_widget 'Amount spent', 15778, 11123, symbol: '$', increase_good: nil,  currency: true, stat_size: "small",  title_class: "card-title", card_class: " two-thirds-widgets__small" %>
      </div>
      <div class="two-thirds-widgets">
        <%= stat_card_widget 'Amount received', 25600, 23000, symbol: '$', increase_good: nil,  currency: true, stat_size: "small", title_class: "card-title", card_class: " two-thirds-widgets__small" %>
        <%= stat_card_widget 'Your contributions', 75, 35, symbol: '$', currency: true, title_class: "card-title", card_class: " two-thirds-widgets__large" %>
      </div>

    </div>
  </div>
</div>
