<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<div class="project-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @project.avatar_url.present? %>
      <div class="col-md-1 mb-3 pt-3">
        <img src="<%= @project.avatar_url %>" alt="<%= @project.to_s %> logo" class="img-fluid fund-logo" onerror="this.style.display='none'" />
      </div>
      <% end %>
      <div class="col-md-11">
        <h1 class="display-1 extra-bold"><%= @project.to_s %></h1>
        <% if @project.last_synced_at %>
          <p><%= @project.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="dashboard-grid">  
        <% if @project.repository %>
        <div class="three-equal-widgets">
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Owner</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text"><%= @project.repository['owner'] %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last commit</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <%= time_ago_in_words @project.last_commit_at %> ago
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last release</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <% if @project.latest_tag_name %>
                      <%= @project.latest_tag_name %> (<%= time_ago_in_words @project.latest_tag_published_at %> ago)
                    <% else %>
                      No releases found
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="one-third-widget-group">
          <div class="card one-third-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Links</h5>
              <!-- Links content here -->
            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Language</h5>
              <div class="stacked-bar">
                <div class="segment seg-a" style="--w: 40%"></div>
                <div class="segment seg-b" style="--w: 30%"></div>
                <div class="segment seg-c" style="--w: 30%"></div>
              </div>
              <div class="graph-key py-3">
                <div class="graph-key__item">
                  <span class="dot dot-a"></span>
                  <span class="label">Rust 40%</span>
                </div>
                <div class="graph-key__item">
                  <span class="dot dot-b"></span>
                  <span class="label">Shell 30%</span>
                </div>
                <div class="graph-key__item">
                <span class="dot dot-c"></span>
                <span class="label">White space 30%</span>
              </div>
              </div>

            </div>
          </div>
          <div class="card one-third-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Licence</h5>
              <%= @project.licenses.map(&:upcase).join(', ') %>
            </div>
          </div>
        </div>

      <% end %>

      <!-- Row 1: Three equal widgets -->
      <div class="three-equal-widgets">
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", stat_size: "large" %>
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", stat_size: "large" %>
      </div>

      <!-- Row 2: Full-width chart -->
      <%= stat_card_widget 'Commits', 110978, 111262, increase_good: false, symbol: '', title_class: "card-title", card_class: "card" do %>
        <div class="chart-wrapper">
          <canvas id="commitChart2" width="600"></canvas>
        </div>
      <% end %>
      
      <!-- Row 3: Two thirds widgets -->
      <div class="two-thirds-widgets">
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", card_class: " two-thirds-widgets__large" %>
        <%= stat_card_widget 'Recurring donors', 128123123, 128123127, increase_good: true, symbol: '', title_class: "card-title", card_class: " two-thirds-widgets__small", stat_size: 'small' %>
      </div>

      <!-- Row 4: Two thirds widgets with double row-->
      <div class="two-thirds-widget-group">
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", card_class: " two-thirds-widget-group__small" %>
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", card_class: " two-thirds-widget-group__small" %>
        <%= stat_card_widget 'Recurring donors', 75, 65, increase_good: true, symbol: '%', title_class: "card-title", card_class: " two-thirds-widget-group__large" do %>
          <div id="chartContainer" class="chart-wrapper" role="img" aria-describedby="chartDesc">
            <canvas id="barChart2" tabindex="0" width="400" height="300" style="margin-left: 150px;"></canvas>
          </div>

          <p id="chartDesc" class="visually-hidden">
            We need to describe the chart here, for example 'this bar chart shows commits over the last 3 months. January had 110,988 commits, February 232,000, and March 123,989'
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
