<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project}" %>

<%= render 'project_header' %>
<div class="container">

  <div class="dashboard-layout">
    <%= render 'nav' %>

    <div class="dashboard-layout__dboard">
      <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1>Overview</h1>
        <%= render 'bots' %>
      </div>
      <div class="dashboard-grid">  
        <% if @project.repository %>
        <div class="three-equal-widgets">
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Owner</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text"><%= @project.repository['owner'] %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last commit</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <% if @project.last_commit_at %>
                    <%= time_ago_in_words @project.last_commit_at %> ago
                    <% else %>
                      No commits found
                    <% end %> 
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Last release</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <% if @project.latest_tag_name %>
                      <%= @project.latest_tag_name %> (<%= time_ago_in_words @project.latest_tag_published_at %> ago)
                    <% else %>
                      No releases found
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two-thirds-widget-group">
          <div class="card two-thirds-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Licence</h5>
              <%= @project.licenses.map(&:upcase).uniq.join(', ') %>
            </div>
          </div>
          <div class="card two-thirds-widget-group__small well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small mb-4">Primary Language</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-text">
                    <%= @project.language_with_default %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card two-thirds-widget-group__large well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Links</h5>
              
              <ul class="list-unstyled">
                <% @project.links.each do |link| %>

                  <li class="mb-3">
                    <%= link_to link, target: "_blank", rel: "noopener noreferrer", class: "link-with-icon text-decoration-none text-body" do %>
                      <%= bootstrap_icon link_icon(link), width: 18, height: 18, class: "link-with-icon__icon", aria_hidden: "true" %>
                      <span class="link-with-icon__text"><%= display_link link %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              
            </div>
          </div>
        </div>
      <% end %>
        <% if @project.packages.any? && @top_package.present? %>
          <div class="full-width-widget">
            <div class="card well p-3 border-0">
              <div class="card-body">
                <h5 class="card-title">Ranking 
                  <a href="#" aria-labelledby="ranking-help">
                    <%= bootstrap_icon 'question-circle',
                    width: 18, height: 18, aria_hidden: 'true', focusable: 'false', role: 'img', class: 'mb-1', title: 'what is ranking?'
                    %>
                    <span id="ranking-help" class="visually-hidden">What is ranking?</span>
                  </a>
                </h5>
                <div class="stat-card mb-2">
                  <div class="stat-card-body">
                    <div class="stat-card-body">
                      <span class="stat-card-title stat-card-title--large stat-card-number stat-card-number-positive">Top <%= @top_package.rankings['average'].round(1) %>%</span>
                      <span class="stat-card-text">
                        on <%= @top_package.registry_name %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="three-equal-widgets">
            <%= stat_card_widget 'Dependent packages', @project.dependent_packages_count, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Dependent repos', @project.dependent_repos_count, nil, title_class: "card-title small", stat_size: "large" %>
            <%= stat_card_widget 'Downloads', @project.downloads, nil, title_class: "card-title small", stat_size: "large" %>
          </div>
        <% end %>
      <div class="full-width-widget">
        <!-- <%= stat_card_widget 'Commits', 882, 781, increase_good: true, symbol: '', title_class: "card-title" %> -->
        <div class="full-width-widget">
          <div class="card well p-3 border-0">
            <div class="card-body">
              <h5 class="card-title">Commits</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-negative">
                    110,978 <%= bootstrap_icon 'caret-down-fill', width: 18, height: 18, class: 'flex-shrink-0' %>
                  </span>
                  <span class="stat-card-text stat-card-text">111,262 last period</span>
                </div>
              </div>
              <div class="chart-wrapper">
                <canvas 
                  id="commitChart" 
                  width="600"
                  data-chart="line"
                  data-chart-data='{"labels": ["January", "February", "March", "April", "May", "June"], "label": "Commits", "values": [90000, 100000, 110000, 120000, 115000, 110000]}'
                  data-chart-options='{"scales": {"y": {"max": 121000}}}'
                ></canvas>
              </div>
      </div>      
      <div class="three-equal-widgets">
        <%= stat_card_widget 'Committers', 75, 65, title_class: "card-title small", stat_size: "large" %>
        <%= stat_card_widget 'Open PRs', 11, 9,  increase_good: false, title_class: "card-title small", stat_size: "large" %>
        <%= stat_card_widget 'Open issues', 704, 654,  increase_good: false, title_class: "card-title small", stat_size: "large" %>
      </div>     
      <div class="two-thirds-widgets">
        <%= stat_card_widget 'Balance', 9822, 11877, symbol: '$', increase_good: nil,  currency: true, title_class: "card-title small", card_class: " two-thirds-widgets__large" %>
        <%= stat_card_widget 'Amount spent', 15778, 11123, symbol: '$', increase_good: nil,  currency: true, stat_size: "small",  title_class: "card-title small", card_class: " two-thirds-widgets__small" %>
      </div>
      <div class="two-thirds-widgets">
        <%= stat_card_widget 'Amount received', 25600, 23000, symbol: '$', increase_good: nil,  currency: true, stat_size: "small", title_class: "card-title small", card_class: " two-thirds-widgets__small" %>
      </div>

    </div>
  </div>
</div>
